<div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title" style="text-align: center;">Successfully Updated</p>
        <!-- <button class="delete" aria-label="close"></button> -->
      </header>
      <section class="modal-card-body">
        <p style="text-align: center ;">User is Updated!</p>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success" style="float: center;" routerLink="/userList">OK</button>
      </footer>
    </div>
  </div>